@import '../../styles/mixin.scss';
@import '../../styles/variable.scss';

.form {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  &__login {
    background-image: url('../../../public/res/authPage/short_form_bg.svg');
  }

  &__register {
    background-image: url('../../../public/res/authPage/long_form_bg.svg');

    @include respond(phone) {
      background-image: none;
      // border: 2px solid $color-primary;
    }
  }
}

.section {
  &__auth {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.99)
      ),
      url('../../../public/res/authPage/auth_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
