@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variable.scss';
@import 'mixin.scss';

html {
  scroll-behavior: smooth;

  @include respond(phone) {
    font-size: 15px;
  }

  @include respond(miniPhone) {
    font-size: 14px;
  }

  @include respond(big-lap) {
    font-size: 17.5px;
  }

  @include respond(desktop) {
    font-size: 19.5px;
  }
}

body {
  font-family: $font-primary;
}

body,
p,
button,
input,
textarea,
select {
  letter-spacing: 1.8px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.toast {
  margin-bottom: 2rem !important;
  font-family: $font-primary !important;
  background-color: rgba(0, 0, 0, 0.85) !important;
  border-radius: 0;
  color: #fff !important;
  border-radius: 0 !important;
  &___body {
    padding: 0;
  }
  &__progress {
    visibility: hidden;
  }

  @include respond(phone) {
    font-size: 0.9rem;
    width: 80%;
    margin-left: 10%;
  }
}

.Toastify__toast {
  min-height: inherit !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
