@import '../../styles/mixin.scss';
@import '../../styles/variable.scss';

.aboutUs {
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/res/aboutUs/about-us-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(6px);

  &__container {
    background-image: url('/res/aboutUs/AboutUs.svg');
    width: 90%;
    background-position: top;
    background-size: contain;
    background-attachment: scroll;
    @include respond(phone) {
      background-image: url('/res/aboutUs/aboutUsbg2.svg');
    }
  }

  &__para {
    @include respond(phone) {
      overflow-y: scroll;
      padding: 0 1rem;
      height: 30rem;
    }

    @media screen and (max-width: 400px) {
      height: 26.5rem;
    }
  }

  @include respond(phone) {
    width: 98%;
  }
}
