@import '../../styles/mixin.scss';

.homeContainer {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.99),
      rgba(0, 0, 0, 0.2)
    ),
    url('/res/bg_home.jpg');

  @include respond(phone) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
      url('/res/bg_home_mobile.jpg');
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
