@import '../../styles/mixin.scss';

.homeContainer {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url('/res/bg_home.jpeg');

  @include respond(phone) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)),
      url('/res/bg_home_mobile.jpg');
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
