@import '../../styles/mixin.scss';

.homeContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url('/res/bg_home.jpg');

  @include respond(phone) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
      url('/res/bg_home_mobile.jpg');
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
