.memberCard {
  &__img {
    &__overlay {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      z-index: 2;
      transition: all 0.4s;

      &:hover {
        opacity: 1;
      }
    }
  }
}
